.elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.middle {
  display: flex;
  overflow: auto;
  min-height: 80px;
  max-height: calc(100vh - 268px - 236px);
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 16px;
  list-style: none;
}

.main {
  padding: 16px 0;
}

.hover {
  padding: 16px 0;
  border-radius: 88px;
  box-shadow: 0 0 16px rgb(51 51 255 / 25%), 0 0 8px rgb(51 51 255 / 25%), 0 4px 32px rgb(51 51 255 / 50%);
}
