.elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.middle {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  min-height: 80px;
  max-height: calc(100vh - 268px - 236px);
  flex-direction: column;
  gap: 16px;
}
