.ingredient {
  position: relative;
  width: min-content;
  height: 208px;
}

.wrapper {
  color: inherit;
  text-decoration: none;
}

.image {
  min-width: 240px;
}

.price,
.name {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.name {
  min-height: 48px;
}

.drag {
  opacity: 0.5;
}
