.ingredient {
  position: relative;
  width: min-content;
  height: 208px;
}

.wrapper {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

.price,
.name {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.name {
  min-height: 48px;
}
