.header {
  display: flex;
}

.nav {
  display: flex;
}

.nav-ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-li {
  margin: 0;
  list-style: none;
}

.col {
  width: 100%;
}

.col-right {
  justify-content: end;
}

.logo {
  display: block;
}
